.estiloPortada{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.PaddingBorderMargin{
    padding: 30px;
      background-color: grey; /* Este color también se verá en el área del padding */
      border: 10px solid red;
      color: white;
      width: 100px;
      height: 100px;
      margin: 50px;
      text-align: center;
}
.estiloConBordes{
    border: solid 2px;
    border-color: blue;
}
.parrafoEnLinea{
    display: inline;
    border: solid 2px;
    border-color: blue;
}
.spanEnBloque{
    display: block;
    border: solid 2px;
    border-color: blue;
}