.estilo-portada{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.padding-order-margin{
    padding: 30px;
      background-color: grey; /* Este color también se verá en el área del padding */
      border: 10px solid red;
      color: white;
      width: 100px;
      height: 100px;
      margin: 50px;
      text-align: center;
}
.estilo-con-bordes{
    border: solid 2px;
    border-color: blue;
}
.parrafo-en-linea{
    display: inline;
    border: solid 2px;
    border-color: blue;
}
.span-en-bloque{
    display: block;
    border: solid 2px;
    border-color: blue;
}